.container {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.card_banner {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  min-height: 70px;
  margin: 3px;
  display: flex;
  justify-content: flex-end;
}

.card_banner img {
  padding-right: 20px;
  width: 80px;
  height: 80px;
}

.card_content {
  height: 100%;
  border-radius: 20px;
  margin-top: -1rem;
  padding-bottom: 1rem;
  transition: .3s;
}

.card_content:hover {
  filter: brightness(150%);
  cursor: pointer;
}

.card_ellipsis:hover {
  filter: brightness(150%);
}



.card_content_name {
  justify-content: space-between;
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
}

.card_content_name h3 {
  font-weight: 400;
  text-transform: capitalize;
}



.card_content_hours {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  font-weight: 300;
}

.card_content_hours_current {
  font-size: 3em;
  text-transform: lowercase;
}

.card_content_hours_previous {
  margin-top: 0.5rem;
  font-size: 0.9em;
  opacity: 50%;
  text-transform: capitalize;
}
