.fontWeight_300 {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.fontWeight_400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.fontWeight_500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}